@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}
body{
    height:100vh;
    background: #666;
}
.nav{
    width:100%;
    padding: 1rem;
    list-style: none;
    background:#f4f4f4;
    color:rgb(71, 71, 71);
}

.nav h1{
    grid-area: title;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    display: block;
    width: 100%;

}
.nav h1::before{
    content:'';
    background:rgb(11, 185, 190);
    width:40rem;
    height:0.3rem;
    position:absolute;
    top:5rem;

}
.nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    
}

.nav li a{
    text-decoration: none;
    font-size:1.5rem;
    font-weight: bold;
    margin:3px;
    padding:5px;
    padding-right:5rem;
    position:relative;
    color:#666;
    transition: color 0.3s linear;
}


#range-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: range;
}
#range-holder input{
    margin:2px;
}

#generateBtn{
    display: grid;
    place-items: center; 
    transition:all 0.3s ease-in;
    grid-area:generate;
}
#generateBtn a:hover::before {
    content: '';
    width: 1rem;
    height:0.1rem;
    background:rgb(11, 185, 190);
    position: absolute;
    top:2.5rem;
    animation: widthAnimation 0.3s forwards;
}

@keyframes widthAnimation{
    from{
        width: 1rem;
    }
    to{
        width: 15rem;
    }
}

#algorithm-holder{
    grid-area:algos;
}
#algorithms-list{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

#algorithms-list li{
    font-size: 1.2rem;
    font-weight: 1000;
    margin-left:1rem;
    padding: 0.6rem;
    box-shadow: 1px 1px 4px #ccc, 2px 2px 3px #fff;
    cursor: pointer;
    transition:all 0.4s;
    position: relative;
}

#algorithms-list li:hover{
    /*box-shadow: inset 2px 2px 4px rgb(151, 150, 150),inset 2px 2px 3px #fff;*/
    top:0.1rem;
    left:0.1rem;
    color:rgb(4, 134, 134);
}
#algorithms-list li.active{
    box-shadow:  2px 2px 10px rgb(151, 150, 150), 2px 2px 10px #fff;
    top:0.1rem;
    left:0.1rem;
    color:rgb(4, 134, 134);
}
#algorithms-list li.disabled{
    box-shadow:  inset 2px 2px 4px rgb(151, 150, 150), inset 2px 2px 3px #fff;
    color:#ccc;
}
#algorithms-list li.disabled:hover{
    top:0;
    left:0;
}

/* Don NOT DELETE ANYTHING FROM THIS POINT WITHOUT SERIOUS THOUGHT */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:70%;
   
}
.list-container{
    width:50%;
    height:100%;
    margin-top: 20px; 
    display: flex;
    align-items:center;
    justify-content:center;
}
.number{
    background:rgb(11, 185, 190);
    height:70px;
    width:1px;
    margin-right:2px;
    text-align: center;
    font-size: 1.1rem;
    border-radius:40%;
    color:#f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.number.visiting{
    background: rgb(160, 145, 11);
}
.number.wrong-position{
    background:rgb(245, 59, 27);
}
.number.correct-position{
    background:rgb(11, 201, 11);
}




@media screen and (max-width: 770px) {
    :root{
        font-size: 10px;
    }
    
    .nav h1::before{
        width:20rem;
    }
    .nav ul{
        align-items: flex-start;
        justify-content: space-between;
    }
    .nav input[type='range']{
        width: 10rem;
    }
    .list-container{
        width: 100%;
        height:99%;
    }
  }
